<div class="row">
  <div class="col-md-12">
    <div class="user-panel">
      <div class="user-panel-details">
        <%= cl_image_tag current_user.avatar_url, size: "150x150" %>
        <br>
        <%= current_user.full_name %>
      </div>
    </div>
  </div>
</div>
