<% if user_signed_in? %>

<% else %>
  <div class="center jumbotron home-div">
    <h1><%= t ".head_content" %></h1>
    <h2>
      <%= t ".sub_header" %>
    </h2>
    <%= link_to t(".signup"), new_user_registration_path,
      class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
