body {
  padding-top: 60px;
  background-image: asset-url("books.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

ul {
  list-style-type: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.50);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.nav-color {
  background-color: rgba(10, 7, 7, 0.50) !important;
}

.user-forms {
  background-color: rgba(10, 7, 7, 0.50);
  padding-bottom: 15px;
  border-radius: 50px;
  color: white;
}

.home-div {
  background-color: rgba(10, 7, 7, 0.50) !important;
  color: white !important
}

.user-panel {
  margin-top: 20px;
  text-align: center;
  background-color: rgba(10, 7, 7, 0.50) !important;
  color: white !important;
  border-radius: 10px;
  padding-top: 25px;
}

.sidebar-panel {
  margin-top: 10px;
  background-color: rgba(10, 7, 7, 0.50) !important;
  color: white !important;
  border-radius: 10px;
}

.sidebar-panel-title {
  text-align: center;
}

.nav-tabs{
  margin-top:0px;
}

.nav-sidebar a {
  min-height:80px;
  color: #F2DEDE;
  -webkit-transition: all 0.08s linear;
  -moz-transition: all 0.08s linear;
  -o-transition: all 0.08s linear;
  transition: all 0.08s linear;
}
.nav-sidebar .active a {
  cursor: default;
  background-color: #95adc2;
  color: #fff;
}
.nav-sidebar .active a:hover {
  background-color: #ECEDEE;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.index-new-button {
  margin-right: 20px;
}

.panel-colors {
  color: #954428 !important;
  background-color: rgb(222, 189, 112) !important;
  border-color: #E8AC39 !important;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: asset-url("up_arrow.gif");
}

.pretty th .desc {
  background-image: asset-url("down_arrow.gif");
}

.search-form {
  margin-left: 15px;
  margin-top: 20px;
}

.paginate {
  text-align: center;
}

.user-review {
  margin-left: 0px !important;
}

.follow-link {
  margin-left: 38px !important;
  margin-top: 10px !important;
}
