body {
  padding-top: 60px;
  background-image: asset-url("books.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

ul {
  list-style-type: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgba(255, 255, 255, 0.50);
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: rgba(255, 255, 255, 1.0);
    text-decoration: none;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.nav-color {
  background-color: rgba(10, 7, 7, 0.50) !important;
}

.user-forms {
  background-color: rgba(10, 7, 7, 0.50);
  padding-bottom: 15px;
  border-radius: 50px;
  color: white;
}

.home-div {
  background-color: rgba(10, 7, 7, 0.50) !important;
  color: white !important
}

.user-panel {
  margin-top: 20px;
  text-align: center;
  background-color: rgba(10, 7, 7, 0.50) !important;
  color: white !important;
  border-radius: 10px;
  padding-top: 25px;
}
