<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to t(".app_title"), root_path, id: "logo" %>
      <ul class ="nav bar navbar-nav pull-right">
        <li><%= link_to t(".tablink_login"), "#" %></li>
      </ul>
    </nav>
  </div>
</header>
